doctype html
html(lang="en")
    
    head
        meta(charset="utf-8")
        meta(name="author" content="Andrew Havis")
        title="My Twitter Timelines"
        
        // Import the Bootstrap stylesheet
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        
        // Import custom CSS
        link(rel="stylesheet" href="/css/main.css")

        // Import Socket.io - this is meant to be loaded directly, so the Socket.io script is called here rather than via RequireJS
        script(src="/socket.io/socket.io.js")

        // Import Twitter widgets (again, we'll load this directly)
        script(id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js")
        
        // Import custom scripts via RequireJS
        script(data-main="js/main" src="/lib/requirejs/require.js" type="application/javascript")

    body
        div.row
            div.col-md-12
                h1="My Twitter Timelines"
        div.row
            div.col-md-4
                h2="Home Timeline"
            div.col-md-4
                h2="My Tweets"
            div.col-md-4
                h2="My Mentions"
        div.row
            div.col-md-4.column-left.center-block#tweets
            div.col-md-4.column-middle.center-block#myTweets
            div.col-md-4.column-right.center-block#mentions
